    @font-face {
        font-family: 'quinttorregular';
        src: url('fonts/quinttor-webfont.woff2') format('woff2'),
            url('fonts/quinttor-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'almondregular';
        src: url('fonts/almond_regular-webfont.woff2') format('woff2'),
            url('fonts/almond_regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-size: xx-large;
    }

    @font-face {
        font-family: 'peter_jhonsregular';
        src: url('fonts/peter_jhons-webfont.woff2') format('woff2'),
            url('fonts/peter_jhons-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'amsterdam_variation_1regular';
        src: url('fonts/amsterdam_variation_1-webfont.woff2') format('woff2'),
            url('fonts/amsterdam_variation_1-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'amsterdam_variation_2regular';
        src: url('fonts/amsterdam_variation_2-webfont.woff2') format('woff2'),
            url('fonts/amsterdam_variation_2-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'amsterdam_variation_3regular';
        src: url('fonts/amsterdam_variation_3-webfont.woff2') format('woff2'),
            url('fonts/amsterdam_variation_3-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'amsterdamregular';
        src: url('fonts/amsterdam-webfont.woff2') format('woff2'),
            url('fonts/amsterdam-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
    
    @font-face {
    font-family: heliotrope_3;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('fonts/heliotrope_3_regular.woff2') format('woff2');
    }
    
    @font-face {
    font-family: heliotrope_3;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('fonts/heliotrope_3_italic.woff2') format('woff2');
    }
    
    @font-face {
    font-family: heliotrope_3;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('fonts/heliotrope_3_bold.woff2') format('woff2');
    }
    
    @font-face {
    font-family: heliotrope_3;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('fonts/heliotrope_3_bold_italic.woff2') format('woff2');
    }
    
    @font-face {
    font-family: heliotrope_3_caps;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('fonts/heliotrope_3_caps_regular.woff2') format('woff2');
    }
    
    @font-face {
    font-family: heliotrope_3_caps;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('fonts/heliotrope_3_caps_bold.woff2') format('woff2');
    }
    
    
p,a,summary,li{
    font-family: 'heliotrope_3', Helvetica, sans-serif !important;
}

.figure-caption{
    font-size: 0.7em;
}

h1,h2,h3{
    font-family: 'amsterdamregular', Helvetica, sans-serif !important;
}

h1{
    font-size: 2.75em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.25em;
}

#toc-title{
    font-family: 'quinttorregular', Helvetica, sans-serif !important;
    font-size: 1.5em;
}

#preface h1{
    display: none;
}